



h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
}

.box {
    margin: 0%;
    padding: 0%;
}

.container {
    outline: solid red;
    width: 1220px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* font-family: "DM Serif Display", serif;
font-family: "Jost", sans-serif; */